.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .notFound h1 {
    font-size: 3rem;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .notFound h1 {
      font-size: 2.5rem;
    }
  }