.login {
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: 100vh;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .login {
    padding: 2rem;
  }

  .form {
    padding: 1.5rem;
    width: auto; /* Adjust width to fit smaller screens */
    margin-top: 4rem; /* Reduce top margin for smaller screens */
    margin-bottom: 2rem; /* Reduce bottom margin for smaller screens */
  }
}

@media (max-width: 480px) {
  .form {
    padding: 1rem;
  }
}